<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Recetas</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Mis recetas</h1>
</header>
<body>
    <section class="recipe-container">
        <div class="recipe">
            <p class="recipe_title"><b>Oat Cake</b></p>
            <p><b>Ingredientes:</b></p>
            <ul class="recipe_ingredients">
                <li>Avena</li>
                <li>Leche</li>
                <li>Banano </li>
                <li>Huevo</li>
            </ul>
            <p><b>Etiquetas:</b></p>
            <ul class="recipe_tags">
                <li>Desayuno</li>
                <li>Dulce</li>
            </ul>
            <p><b>Instrucciones:</b></p>
            <p class="recipe_instructions">Mezclar todos los ingredientes en licuadora</p>
        </div>
        <div class="recipe">
            <p class="recipe_title"><b>Oat Cake</b></p>
            <p><b>Ingredientes:</b></p>
            <ul class="recipe_ingredients">
                <li>Avena</li>
                <li>Leche</li>
                <li>Banano </li>
                <li>Huevo</li>
            </ul>
            <p><b>Etiquetas:</b></p>
            <ul class="recipe_tags">
                <li>Desayuno</li>
                <li>Dulce</li>
            </ul>
            <p><b>Instrucciones:</b></p>
            <p class="recipe_instructions">Mezclar todos los ingredientes en licuadora</p>
        </div>
        <div class="recipe">
            <p class="recipe_title"><b>Oat Cake</b></p>
            <p><b>Ingredientes:</b></p>
            <ul class="recipe_ingredients">
                <li>Avena</li>
                <li>Leche</li>
                <li>Banano </li>
                <li>Huevo</li>
            </ul>
            <p><b>Etiquetas:</b></p>
            <ul class="recipe_tags">
                <li>Desayuno</li>
                <li>Dulce</li>
            </ul>
            <p><b>Instrucciones:</b></p>
            <p class="recipe_instructions">Mezclar todos los ingredientes en licuadora</p>
        </div>
        <div class="recipe">
            <p class="recipe_title"><b>Oat Cake</b></p>
            <p><b>Ingredientes:</b></p>
            <ul class="recipe_ingredients">
                <li>Avena</li>
                <li>Leche</li>
                <li>Banano </li>
                <li>Huevo</li>
            </ul>
            <p><b>Etiquetas:</b></p>
            <ul class="recipe_tags">
                <li>Desayuno</li>
                <li>Dulce</li>
            </ul>
            <p><b>Instrucciones:</b></p>
            <p class="recipe_instructions">Mezclar todos los ingredientes en licuadora</p>
        </div>
        <div class="recipe">
            <p class="recipe_title"><b>Oat Cake</b></p>
            <p><b>Ingredientes:</b></p>
            <ul class="recipe_ingredients">
                <li>Avena</li>
                <li>Leche</li>
                <li>Banano </li>
                <li>Huevo</li>
            </ul>
            <p><b>Etiquetas:</b></p>
            <ul class="recipe_tags">
                <li>Desayuno</li>
            </ul>
            <p><b>Instrucciones:</b></p>
            <p class="recipe_instructions">Mezclar todos los ingredientes en licuadora</p>
        </div>
    </section>
</body>
</html>