<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<header>
    <h1>Estamos felices por tenerte de vuelta</h1>
    <p>No dudamos que seas tú, pero es mejor confirmar ;)</p>
</header>
<body>
    <form method="get" action="loginUser">
        <label for="username">Tengo que recordar tu nombre</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Y tu contraseña para verificarte</label>
        <input type="password" id="password" name="password" required>
        <span class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></span>
        <input type="submit" value="Confirmo quien soy">
        <span>Sin cuenta, no te preocupes, <a href="sign-up">Registrate aquí</a></span>
    </form>
</body>
</html>