<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<header>
    <h1>Estamos felices por tenerte de vuelta</h1>
</header>
<body>
    <p>No dudamos que seas tú, pero es mejor confirmar ;)</p>

    <form>
        <label for="username">Tengo que recordar tu nombre</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Y tu contraseña para verificarte</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Confirmo quien soy">
    </form>
</body>
</html>