<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear receta</title>
    <link rel="stylesheet" href="./recipe.css">
    <link rel="shortcut icon" href="icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <form action="create" class="recipe_form">

        <h1>¡Imagina, crea y guarda para disfrutar!</h1>

        <label for="name">Nombre de la receta:</label>
        <input type="text" id="name" name="name" required placeholder="Ej. Pastel de avena">

        <label for="ingredients">Ingredientes:</label>
        <textarea id="ingredients" name="ingredients" rows="4" required placeholder="Ej. 1 tz avena&#10 1 huevo&#10 1 banano macerado"></textarea>

        <section class="recipe_characteristics">

            <fieldset class="food_intention">
                <p>¿Cuál es la intención de la receta?</p>
                <input type="checkbox" name="intentions" value="HEALTHY" id="intentionHealthy">
                <label for="intentionHealthy">Saludable</label>

                <input type="checkbox" name="intentions" value="FAST" id="intentionFast">
                <label for="intentionFast">Rápida</label>

                <input type="checkbox" name="intentions" value="TASTY" id="intentionTasty">
                <label for="intentionTasty">Sabrosa</label>

                <input type="checkbox" name="intentions" value="VEGAN" id="intentionVegan">
                <label for="intentionVegan">Vegana</label>

                <input type="checkbox" name="intentions" value="VEGETARIAN" id="intentionVegetarian">
                <label for="intentionVegetarian">Vegetariana</label>

                <input type="checkbox" name="intentions" value="GLUTEN_FREE" id="intentionGlutenFree">
                <label for="intentionGlutenFree">Sin gluten</label>

                <input type="checkbox" name="intentions" value="LOW_CARB" id="intentionLowCarb">
                <label for="intentionLowCarb">Baja en carbohidratos</label>

                <input type="checkbox" name="intentions" value="HIGH_PROTEIN" id="intentionHighProtein">
                <label for="intentionHighProtein">Alta en proteína</label>

                <input type="checkbox" name="intentions" value="KETO" id="intentionKeto">
                <label for="intentionKeto">Keto</label>

                <input type="checkbox" name="intentions" value="PALEO" id="intentionPaleo">
                <label for="intentionPaleo">Paleo</label>

                <input type="checkbox" name="intentions" value="ORGANIC" id="intentionOrganic">
                <label for="intentionOrganic">Orgánica</label>
            </fieldset>

            <fieldset class="food_type">
                <p>¿Qué tipo de comida es?</p>

                <input type="checkbox" name="types" value="SALTY" id="typeSalty">
                <label for="typeSalty">Salada</label>

                <input type="checkbox" name="types" value="SWEET" id="typeSweet">
                <label for="typeSweet">Dulce</label>

                <input type="checkbox" name="types" value="MEAT" id="typeMeat">
                <label for="typeMeat">Carne</label>

                <input type="checkbox" name="types" value="FISH" id="typeFish">
                <label for="typeFish">Pescado</label>

                <input type="checkbox" name="types" value="VEGETABLES" id="typeVegetables">
                <label for="typeVegetables">Verduras</label>

                <input type="checkbox" name="types" value="SOUP" id="typeSoup">
                <label for="typeSoup">Sopa</label>

                <input type="checkbox" name="types" value="PASTA" id="typePasta">
                <label for="typePasta">Pasta</label>

                <input type="checkbox" name="types" value="RICE" id="typeRice">
                <label for="typeRice">Arroz</label>

                <input type="checkbox" name="types" value="BREAD" id="typeBread">
                <label for="typeBread">Pan</label>

                <input type="checkbox" name="types" value="DESSERT" id="typeDessert">
                <label for="typeDessert">Postre</label>

                <input type="checkbox" name="types" value="DRINKS" id="typeDrinks">
                <label for="typeDrinks">Bebida</label>

                <input type="checkbox" name="types" value="SOUR" id="typeSour">
                <label for="typeSour">Ácida</label>

                <input type="checkbox" name="types" value="SPICY" id="typeSpicy">
                <label for="typeSpicy">Picante</label>

                <input type="checkbox" name="types" value="UMAMI" id="typeUmami">
                <label for="typeUmami">Umami</label>

            </fieldset>
            
        </section>

        <label for="instructions">Instrucciones:</label>
        <textarea id="instructions" name="instructions" rows="4" required placeholder="Ej. 1. Mezclar todos los secos&#10 2. Mezclar los líquidos e integrar&#10 3. Hornear en un molde"></textarea>

        <button type="submit" class="submit_btn">Crear Receta</button>

    </form>
</body>
</html>