<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="/icon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Unete y se parte de la familia</h1>
    </header>
    <form action="register" method="post">
        <span class="error-message" th:if="${errorMessage}" th:text="${errorMessage}"></span>
        <label for="username">Tu nombre de usuario</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Tu contraseña</label>
        <input type="password" id="password" name="password" required>

        <label for="userRol">Selecciona tu rol</label>
        <select name="userRol" id="userRol">
            <option value="user">Usuario</option>
            <option value="admin">Administrador</option>
        </select>
        <label for="adminPassword">Tu clave de administrador</label>
        <input type="password" id="adminPassword" name="adminPassword"  required disabled>

        <input type="submit" value="Registrarme">
        
        <span>Ya tienes cuenta, no hay problema, <a href="login">Inicia sesión aquí</a></span>
    </form>
</body>
<script src="/scripts/signUpLogic.js"></script>
</html>